/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
#precode {
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  letter-spacing: 1px;
  word-spacing: 1px;
  font-size: 150%;
   color:white;
   padding: 10px;
   margin-bottom: 10px;
   padding: 10px;
   padding-right: 10px;
 display: inline-block;
 padding-right: 50px;
   border: solid 1px #200639;
   background-color: black;
  }
  .file{
    margin: 10px;
    max-width: 250px;
    border-radius: 8px;
    border:#073504;
    border-width: 10px;
    
  }