/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

body{

 
  background-image: linear-gradient(rgb(0, 115, 255), rgb(49, 6, 220));

}

.intro{
  display: inline-block;
  padding: 10px;
  
  margin-bottom: 10px;
  border: solid 1px #888;
  background-image: linear-gradient(to right,rgb(107, 169, 244), rgb(122, 90, 248));
  border-radius: 8px;
  width:45%; 
  border:1px solid; 
  vertical-align:top
  
}
.intro2{
  display: inline-block;
  padding: 10px;
  float:right ;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-image: linear-gradient(to left,rgb(107, 169, 244), rgb(122, 90, 248));
  border-radius: 8px;
  width:45%; 
  border:1px solid; 
  vertical-align:top
  
}

.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-image: linear-gradient(to right,rgb(107, 169, 244), rgb(122, 90, 248));
    border-radius: 8px;
  }
  #title{
    text-align: center;
 font-family: cursive ;
 font-style:italic;
 color:azure;
 font-variant: small-caps

  }
  h2{
    font-family: cursive ;
    font-style:italic;
    font-variant: small-caps
  }
p {
font-family:Trebuchet MS, sans-serif;



}

::selection{
color:#0f944d;
background:#074c27 ;

}

