body {
  background-color: rgb(18, 0, 61);
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: cursive ;
  font-style:italic;
  color:azure;
  
}
p{
  font-family: Helvetica, Verdana, Arial, "san serif";
  font-size: large;

  word-spacing: 1px;
}
#content {
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  border: solid 1px #0b0435;
  background-image: linear-gradient(rgb(2, 55, 120), rgb(18, 0, 61));
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  border-radius: 8px;
  margin-bottom: 10px;
  background-image: linear-gradient(rgb(79, 198, 245), rgb(22, 76, 177));
  padding: 10px;
  padding-right: 10px;
 
}
